<div class="comments-area">
  <div class="comments-inner">
    <h2 class="comments-title">{{site.data.site_content.disqus.comments[page.language]}}</h2>
    <div id="disqus_thread"></div>
    <noscript>{{ site.data.site_content.disqus.enableJavascript[page.language] }}</noscript>
  </div><!-- .comments-inner -->
</div><!-- .comments-area -->

<script type="text/javascript">
  var disqus_shortname = '{{ site.disqus }}';
  var disqus_developer = 0;
  (function () {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>