---
layout: default
---

<main class="main-content fadeInDown delay_075s">

  <article class="post">
    {% capture languageMarker %}%{{page.language}}%{% endcapture %}
    {% assign month = page.date | date: "%m" %}
    {% case month %}
    {% when '01' %}
    {% assign localizedDate = site.data.layout_content.temporal.months['JAN'][page.language] %}
    {% when '02' %}
    {% assign localizedDate = site.data.layout_content.temporal.months['FEB'][page.language] %}
    {% when '03' %}
    {% assign localizedDate = site.data.layout_content.temporal.months['MAR'][page.language] %}
    {% when '04' %}
    {% assign localizedDate = site.data.layout_content.temporal.months['APR'][page.language] %}
    {% when '05' %}
    {% assign localizedDate = site.data.layout_content.temporal.months['MAY'][page.language] %}
    {% when '06' %}
    {% assign localizedDate = site.data.layout_content.temporal.months['JUN'][page.language] %}
    {% when '07' %}
    {% assign localizedDate = site.data.layout_content.temporal.months['JUL'][page.language] %}
    {% when '08' %}
    {% assign localizedDate = site.data.layout_content.temporal.months['AUG'][page.language] %}
    {% when '09' %}
    {% assign localizedDate = site.data.layout_content.temporal.months['SEP'][page.language] %}
    {% when '10' %}
    {% assign localizedDate = site.data.layout_content.temporal.months['OCT'][page.language] %}
    {% when '11' %}
    {% assign localizedDate = site.data.layout_content.temporal.months['NOV'][page.language] %}
    {% when '12' %}
    {% assign localizedDate = site.data.layout_content.temporal.months['DEC'][page.language] %}
    {% endcase %}

    <header class="post-header">
      <time class="post-date" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{localizedDate}},
        {{page.date | date: "%-d, %Y" }}</time>
      <h1 class="post-title">{{page.title}}</h1>
      <div class="post-meta">
        {{ site.data.site_content.posts.by[page.language] }} <span class="post-author">{{ site.data.author.name[page.language] }}</span>{% if page.tags.size > 0 %}<span
          class="post-tags"> {{ site.data.sitet_content.posts.in[page.language] }} {% for tag in page.tags %}<a href="{{ site.baseurl }}/tags/#{{ tag | cgi_escape }}"
            rel="tag">{{ tag | remove: languageMarker }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</span>{% endif %}
      </div><!-- .post-meta -->
      {% if page.feature_image and page.feature_image != "" %}
      <figure class="post-thumbnail image-card width-full">
        <img src="{{ page.feature_image | relative_url }}" alt="{{ page.title }}">
      </figure><!-- .post-thumbnail -->
      {% endif %}
    </header><!-- .post-header -->
    <div class="post-content">
      {{content}}
    </div><!-- .post-content -->
    <div class="post-share">
      <span>{{ site.data.site_content.posts.share[page.language] }}:</span>
      <a target="_blank"
        href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&amp;url={{ page.url | absolute_url }}"
        rel="noopener">Twitter</a>
      <a target="_blank"
        href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}&amp;t={{ page.title | uri_escape }}"
        rel="noopener">Facebook</a>
    </div><!-- .share-post -->
    <div class="author-box">
      {% if site.data.author.image and site.data.author.image != "" %}
      <div class="author-avatar" style="background-image: url('{{ site.data.author.image }}')"><span
          class="screen-reader-text">{{ site.data.author.name[page.language] }}'s Picture</span></div>
      {% endif %}
      <div class="author-details">
        <h2 class="author-title">{{ site.data.site_content.posts.about[page.language] }} {{ site.data.author.name[page.language] }}</h2>
        <div class="author-bio">{{ site.data.author.bio[page.language] | markdownify }}</div>
        {% if site.data.author.location[page.language] and site.data.author.location[page.language] != "" %}
        <span class="author-location">{{ site.data.author.location[page.language]}}</span>
        {% endif %}
        {% if site.data.author.url[page.language] and site.data.author.url[page.language] != "" %}
        <span class="author-website"><a href="{{ site.data.author.url }}" target="_blank"
            rel="noopener">{{ site.data.author.url[page.language] }}</a></span>
        {% endif %}
      </div><!-- .author-details -->
    </div><!-- .author-box -->
  </article><!-- .post -->

  {% if site.disqus and site.disqus != "" %}
  {% include disqus.html %}
  {% endif %}

</main><!-- .main-content -->